@use "variables";

.attractions {
  padding: 2.5rem 0;
  background-color: red;

  &--first {
    padding-top: 5rem;
  }

  &--left {
    flex-direction: row-reverse;
  }

  &--hot-dog {
    background-color: #ad5389;
    background-image: linear-gradient(180deg, #ad5389 0%, #97d9e1 100%);
  }

  &--playground {
    background-color: #97d9e1;
    background-image: linear-gradient(180deg, #97d9e1 0%, #d9afd9 100%);
  }

  &--cake {
    background-color: #d9afd9;
    background-image: linear-gradient(180deg, #d9afd9 0%, #ff9a8b 100%);
  }

  &--gifts {
    background-color: #ff9a8b;
    background-image: linear-gradient(180deg, #ff9a8b 0%, #d9afd9 100%);
  }

  .container {
    @media (min-width: variables.$tablet-screen) {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 5rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 4px;

    @media (min-width: variables.$tablet-screen) {
      width: 250px;
    }

    @media (min-width: variables.$desktop-screen) {
      width: 400px;
    }
  }

  &__description {
    &__title {
      margin: 1rem 0 0.5rem;

      @media (min-width: variables.$tablet-screen) {
        font-size: 2rem;
        margin: 0 0 0.5rem;
      }
    }

    &__text {
      @media (min-width: variables.$tablet-screen) {
        font-size: 1.125rem;
      }
    }
  }
}
